/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  border: none;
  color: inherit;
}

body,
input,
select,
textarea,
button {
  background: #000;
  color: #fff;
}

/* Utility Styles */
.container {
  padding: 50px;
  max-width: 1200px;
  margin: auto
}

h1 {
  font-size: 50px;
  margin-bottom: .8rem;
  text-align: center;
}

h2 {
  font-size: 25px;
  margin-bottom: 1.6rem;
}

.lead {
  font-size: 1.2rem;
  text-align: center;
}

.text-gold {
  color: #bea67c;
}

.login-section,
.register-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  min-width: 400px;
  margin: 20px auto 50px;
}

.form-group {
  margin: 20px auto;
  border-bottom: 1px solid #222;
  padding: 5px;
}

input {
  font-size: 1.1rem;
  outline: none;
  padding: 5px;
  width: 100%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  background-color: transparent;
  color: #fff;
}

.btn {
  display: block;
  margin: auto;
  padding: 10px 20px;
  background: #222;
  border-radius: .5rem;
}

.btn-danger {
  background: #800020;
}


/* Alert Styles */
.alert {
  max-width: 550px;
  padding: 10px;
  margin: 10px auto;
  border-radius: .5rem;
  text-align: center;
}

.alert-success {
  background: green;
}

.alert-danger {
  background: #800020;
}

/* Navbar Styles */
header {
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: #000;
  color: #eee;
  padding: .5rem 2rem;
}

.logo,
.navbar ul {
  display: flex;
  align-items: center;
  padding: .3rem 1.6rem;
}

.navbar .nav-item {
  padding: 1rem 1.5rem;
}

.navbar .nav-item a:hover {
  color: #bea67c;
  padding: 1rem .09rem;
}

.logo {
  font-size: 1.5rem;
}

.section-container {
  width: 90%;
  padding: 50px ;
  margin: auto;
}

.border-white {
  border: 1px solid #fff;
}
/* Hero Styles */
.hero-container {
  position: relative;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9)), url('https://images.pexels.com/photos/6966/abstract-music-rock-bw.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center bottom fixed;
  display: flex;
  flex-direction: column;
  padding-left: 22vw;
  padding-top: 15vh;
  height: 82vh;
}

.hero-container h1 {
  font-size: 3.5rem;
  padding: 30px 0;
  text-align: left;
}

.hero-container p {
  max-width: 650px;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
}

.hero-container .hero-buttons {
  max-width: 400px;
  display: flex;
}

.hero-container .btn {
  border: 1px solid #bea67c;
  border-radius: 0;
  text-align: center;
  color: #bea67c;
  background: #000;
  padding: .7rem 3.5rem;
  margin: 30px auto 30px 0;
  outline: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-login,
.btn-logout {
  border: 1px solid #bea67c;
  color: #bea67c;
}

.btn:hover,
.btn-back
.btn-login:hover,
.hero-container .btn:hover {
  background: #101111;
  cursor: pointer;
}

.btn-back {
  background: #222;
  width: 200px;
  margin-left: 0;
  text-align: center;
}

/* Profiles Styles */
.profiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.profile {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 1.5rem;
  margin: 1rem;
  text-align: center;
  border: 2px solid #222;
  border-radius: .5rem;
}

.profile img {
  border-radius: 100%;
  width: 60%;
  margin: 20px auto;
}

.profile p {
  line-height: 1.5;
}

.profile-top {
  text-align: center;
}

.profile .btn {
  margin: 1rem 2rem;
}


/* Avatar Styles */
.round {
  border-radius: 100%;
}

.avatar-sm {
  width: 65px;
  margin-top: 1rem;
}

.avatar-md {
  width: 100px;
}

/* Lesson Card Styles */
.post-card,
.lesson-card {
  display: grid;
  grid-template-columns: auto 2fr auto;
  padding: 1.5rem;
  border-bottom: 1px solid #222;
}

.post-card {
  grid-template-columns: auto 10fr 1fr 1fr;
}

.post-action-buttons {
  display: flex;
  grid-template-columns: repeat(3 , 1fr);
}

.post-card-header,
.lesson-card-header {
  margin-right: 2rem;
}

.post-card h2,
.lesson-card h2 {
  font-size: 1.3rem;
  margin-bottom: .5rem;
}

.lesson-date,
.post-date {
  font-size: .8rem;
  margin-top: 1rem;
}

.like-count,
.post-card .btn,
.lesson-card .btn {
  align-self: center;
}

.like-count {
  margin: auto .8rem;
  font-weight: 800;
}

.btn-like {
  padding: .5rem;
}
.btn-discussion {
  margin: 1rem
}

.btn-danger {
  margin-left: .5rem;
}
/* Lesson Details Styles */


/* Dashboard Styles */
.dashboard-action-buttons { 
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px auto;
}

table {
  margin-bottom: 60px;
}

.post-form input, 
.post-form textarea,
.lesson-form input, 
.lesson-form textarea {
  width: 100%;
  border: 1px solid #222;
  margin: 1rem 0;
  padding: 1rem;
}

th {
  font-weight: 700;
  font-size: 1.3rem;
  width: 200px;
}

table tr,
table th {
  padding: .4rem 0;
  margin: 0; 
  text-align: center;
}


@media(max-width: 600px) {
  .navbar {
    display: block;
  }
}